
@import url(https://fonts.googleapis.com/css?family=Lato:400, 700|Oswald);
@import url(https: //maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

header{
	width: 100%;
	background-image: linear-gradient(90deg, rgba(255,255,255,0.4),  rgba(255,255,255,0.4), transparent,transparent);
	
}

.menu{

	background-image: linear-gradient(90deg, rgba(255,255,255,0.4),  rgba(255,255,255,0.4), transparent,transparent);
	padding-top: 2vh;
}


body{


	margin: auto 0;
	width: 100%;
	background-color: #afe3df;
	background-size: cover;

}

.container{

	padding: 2vh 0 2vh 0;

}

ul{
	margin: 0;
}


a{

	color: azure;
	text-decoration: none;
	transition: all 0.7s;

}

ul{
	list-style-type: none;
	
}

.topic{

	text-indent: 10px;	
	background-image: linear-gradient(90deg,rgba(248, 247, 247, 0.8), rgba(255, 255, 255, 0.4),transparent);
	border-radius: 1%;
	margin-bottom: 2px;
	margin-top: 2px;
}

h1{
	color: azure;
}

h4 {

	margin: 0;

}

.footer-box{

	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;

}

p, .topic, h1, h2, h3, h4, h5, h6{
	cursor: default;
	color: rgba(48, 39, 48, 0.9);
}

li{

	list-style-type: none;
	transition: all 0.7s;
	line-height: 1.4;
	font-size: 1em;
	text-indent: 6px;
	border-radius: 5px;
}

li:hover{

	/*transform: translate(10px,0px);*/
	background-image: linear-gradient(90deg,rgba(179, 85, 255, 0.6), transparent);
}

a:hover{
	color: rgba(37, 28, 39,0.8);
	
}

footer img{

	position: relative;
	justify-self: center;
	opacity: 0.7;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px;
}

.box-image:hover:before{

	content: "";
    background-image: url(./assets/heyclodo-icon-gray-inverted.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}



.box-image{
	background-image: url(./assets/heyclodo-icon-blue.jpg);
	background-size: cover;
	position: relative;
	height: 100px; 
	width: 100px ;
}


#projectLogo{

	border-radius: 1%;
	opacity: 0.6;
	
}

#textHeader {

	color: azure;

}

.footer-box{

	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	background-image: linear-gradient(90deg, rgba(255,255,255,0.4),  rgba(255,255,255,0.4), transparent,transparent);
    

}

footer img{

	position: relative;
	justify-self: center;
	opacity: 0.7;
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0.5px;
    
}

.box-image:hover:before{

	content: "";
    background-image: url(./assets/heyclodo-icon-gray-inverted.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 1%;
}



.box-image{
	background-image: url(./assets/heyclodo-icon.jpg);
	background-size: cover;
	position: relative;
	height: 100px; 
	width: 100px ;
    border-radius: 1%;
}

.text-center {
    text-align: center;
}

h1, h2, h4, .clodoDotCom {
 
	width: fit-content;
	margin: 10px auto; 
	border-radius: 1%;
	background-color: rgba(255, 165, 255, 0.1);

}


.toggleBox {

    display: flex;
    flex-direction: row;
    width:auto;
	height: 100%;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	


}

.langOption {

	display: flex;
    flex-direction: row;
    width:auto;
	height: 100%;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	


}

input[type=checkbox] {
    visibility: hidden;
  }

  input[type=checkbox]:checked + label:before {
    transform: translate(14px, 1px);
  }
  
  label {
    display: flex;
    width: 30px;
    height: 14.5px;
    border: 4px solid;
    border-radius: 7%;
    position: relative;
    transition: transform 0.75s ease-in-out;
    cursor: pointer;
    color: azure;
  }
  label:before {
    transition: transform 0.5s ease;
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 85%;
    background-color: azure;
    border-radius: 10%;
	transform: translate(1px, 1px);

  }

  .langBox{

    display: flex;
    flex-direction: row;
    gap: 5px;
    width: fit-content;
    height: 5vh;
    justify-content: center;
	padding-right: 6px;
	padding-left: 6px;


	background-color: rgba(255, 165, 255, 0.2);

  }

  .languageBar {

	display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }